<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots|Noto+Sans:400,700|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/scss/main.css' />
  </head>
  <body>
    <video autoplay  poster='' id='background-video' id='background-video' loop>
      <source src='videos/vimeo_space.mp4' type='video/mp4'>
    </video>
    <div class='site-container container-fluid'>
      {{{body}}}
    </div>
  </body>
</html>
