<div class='row middle-sm center-sm login'>
  <div class='col-xs-12 col-sm-8 col-md-6 form'>
    <i class='material-icons md-48 circle'>fingerprint</i>
    <h1>
      Verify Secure Setup - Step 1
    </h1>
    <h4>
      2-Factor Authentication
    </h4>
    <form method='post' action='/users/verify-secure-setup'>
      <input type='email' name='email' placeholder='Email'>
      <button type='submit'>Send Code</button>
    </form>
  </div>
</div>
